<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ferrepronto_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ferrepronto">

        <!-- API KEY de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBem-5oMoJfx88Cg6qzqqXsWgwOVwoTcmA" />

        <!-- Pantalla del mapa -->
        <activity
            android:name=".UbicacionmapaActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <!-- Pantalla de inicio (Splash) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal (LOGIN) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Ferrepronto" />

        <!-- Pantalla de inicio (HOME) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ContactoActivity"
            android:exported="false" />

    </application>

</manifest>
